<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>사용자 목록</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <h2 class="mb-4">사용자 목록</h2>
    <div class="card p-4">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>관리자</th>
                <th>상태</th>
                <th>맞힌 문제 수</th>
                <th>틀린 문제 수</th>
                <th>변경</th>
                <th>승인</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td>
                    <span th:text="${user.admin} ? 'O' : 'X'"></span>
                </td>
                <td>
                    <span th:text="${user.status} ? '활성' : '비활성'"></span>
                </td>
                <td th:text="${user.answerTrue}"></td>
                <td th:text="${user.answerFalse}"></td>
                <td>
                    <a th:href="@{/user/update/{id}(id=${user.id})}" class="btn btn-sm btn-primary">변경</a>
                </td>
                <td>
                    <div th:if="${!user.status}">
                        <form th:action="@{/user/approve/{id}(id=${user.id})}" method="post">
                            <button type="submit" class="btn btn-sm btn-success">승인</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>